In [1]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('Gouri').getOrCreate()

In [12]:
test = spark.read.csv('test.csv',header=True,inferSchema=True)

In [8]:
df.show()

+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+
|User_ID|Product_ID|Gender|  Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+
|1000004| P00128942|     M|46-50|         7|            B|                         2|             1|                 1|                11|              null|
|1000009| P00113442|     M|26-35|        17|            C|                         0|             0|                 3|                 5|              null|
|1000010| P00288442|     F|36-45|         1|            B|                        4+|             1|                 5|                14|              null|
|1000010| P00145342|     F|36-45|         1|            B|                        4+|             1|                 4|                 9|              null|
|1000011| P00053842|     F|26-35|         1|            C|                         1|             0|                 4|                 5|                12|
|1000013| P00350442|     M|46-50|         1|            C|                         3|             1|                 2|                 3|                15|
|1000013| P00155442|     M|46-50|         1|            C|                         3|             1|                 1|                11|                15|
|1000013|  P0094542|     M|46-50|         1|            C|                         3|             1|                 2|                 4|                 9|
|1000015| P00161842|     M|26-35|         7|            A|                         1|             0|                10|                13|                16|
|1000022| P00067942|     M|18-25|        15|            A|                        4+|             0|                 5|                14|              null|
|1000026| P00046742|     M|26-35|         7|            B|                         2|             1|                 1|                 2|                15|
|1000026| P00040042|     M|26-35|         7|            B|                         2|             1|                 5|              null|              null|
|1000026| P00196542|     M|26-35|         7|            B|                         2|             1|                 5|                 8|                14|
|1000026| P00004542|     M|26-35|         7|            B|                         2|             1|                 5|                 8|              null|
|1000028| P00159542|     F|26-35|         1|            C|                         2|             1|                10|                15|                16|
|1000029| P00111542|     M|36-45|         7|            C|                         1|             0|                 2|                17|              null|
|1000033| P00121042|     M|46-50|         3|            A|                         1|             1|                15|              null|              null|
|1000033| P00344442|     M|46-50|         3|            A|                         1|             1|                 5|                 8|                14|
|1000034| P00265242|     F|18-25|         0|            A|                         0|             0|                 5|                 8|              null|
|1000035|  P0096642|     M|46-50|         1|            C|                        4+|             1|                 2|                 3|                 4|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+
only showing top 20 rows

In [10]:
df.select('User_ID').show()

+-------+
|User_ID|
+-------+
|1000004|
|1000009|
|1000010|
|1000010|
|1000011|
|1000013|
|1000013|
|1000013|
|1000015|
|1000022|
|1000026|
|1000026|
|1000026|
|1000026|
|1000028|
|1000029|
|1000033|
|1000033|
|1000034|
|1000035|
+-------+
only showing top 20 rows

In [11]:
df.describe()

DataFrame[summary: string, User_ID: string, Product_ID: string, Gender: string, Age: string, Occupation: string, City_Category: string, Stay_In_Current_City_Years: string, Marital_Status: string, Product_Category_1: string, Product_Category_2: string, Product_Category_3: string]

In [13]:
train = spark.read.csv('train.csv',header=True,inferSchema=True)

In [14]:
train.printSchema()

root
 |-- User_ID: integer (nullable = true)
 |-- Product_ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Occupation: integer (nullable = true)
 |-- City_Category: string (nullable = true)
 |-- Stay_In_Current_City_Years: string (nullable = true)
 |-- Marital_Status: integer (nullable = true)
 |-- Product_Category_1: integer (nullable = true)
 |-- Product_Category_2: integer (nullable = true)
 |-- Product_Category_3: integer (nullable = true)
 |-- Purchase: integer (nullable = true)

In [15]:
test.printSchema()

root
 |-- User_ID: integer (nullable = true)
 |-- Product_ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Occupation: integer (nullable = true)
 |-- City_Category: string (nullable = true)
 |-- Stay_In_Current_City_Years: string (nullable = true)
 |-- Marital_Status: integer (nullable = true)
 |-- Product_Category_1: integer (nullable = true)
 |-- Product_Category_2: integer (nullable = true)
 |-- Product_Category_3: integer (nullable = true)

In [18]:
train.show().head(2)

+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender|  Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00069042|     F| 0-17|        10|            A|                         2|             0|                 3|              null|              null|    8370|
|1000001| P00248942|     F| 0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|
|1000001| P00087842|     F| 0-17|        10|            A|                         2|             0|                12|              null|              null|    1422|
|1000001| P00085442|     F| 0-17|        10|            A|                         2|             0|                12|                14|              null|    1057|
|1000002| P00285442|     M|  55+|        16|            C|                        4+|             0|                 8|              null|              null|    7969|
|1000003| P00193542|     M|26-35|        15|            A|                         3|             0|                 1|                 2|              null|   15227|
|1000004| P00184942|     M|46-50|         7|            B|                         2|             1|                 1|                 8|                17|   19215|
|1000004| P00346142|     M|46-50|         7|            B|                         2|             1|                 1|                15|              null|   15854|
|1000004|  P0097242|     M|46-50|         7|            B|                         2|             1|                 1|                16|              null|   15686|
|1000005| P00274942|     M|26-35|        20|            A|                         1|             1|                 8|              null|              null|    7871|
|1000005| P00251242|     M|26-35|        20|            A|                         1|             1|                 5|                11|              null|    5254|
|1000005| P00014542|     M|26-35|        20|            A|                         1|             1|                 8|              null|              null|    3957|
|1000005| P00031342|     M|26-35|        20|            A|                         1|             1|                 8|              null|              null|    6073|
|1000005| P00145042|     M|26-35|        20|            A|                         1|             1|                 1|                 2|                 5|   15665|
|1000006| P00231342|     F|51-55|         9|            A|                         1|             0|                 5|                 8|                14|    5378|
|1000006| P00190242|     F|51-55|         9|            A|                         1|             0|                 4|                 5|              null|    2079|
|1000006|  P0096642|     F|51-55|         9|            A|                         1|             0|                 2|                 3|                 4|   13055|
|1000006| P00058442|     F|51-55|         9|            A|                         1|             0|                 5|                14|              null|    8851|
|1000007| P00036842|     M|36-45|         1|            B|                         1|             1|                 1|                14|                16|   11788|
|1000008| P00249542|     M|26-35|        12|            C|                        4+|             1|                 1|                 5|                15|   19614|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 20 rows

AttributeError: 'NoneType' object has no attribute 'head'

In [19]:
train.head(1)

[Row(User_ID=1000001, Product_ID='P00069042', Gender='F', Age='0-17', Occupation=10, City_Category='A', Stay_In_Current_City_Years='2', Marital_Status=0, Product_Category_1=3, Product_Category_2=None, Product_Category_3=None, Purchase=8370)]

In [22]:
test.head(1)

[Row(User_ID=1000004, Product_ID='P00128942', Gender='M', Age='46-50', Occupation=7, City_Category='B', Stay_In_Current_City_Years='2', Marital_Status=1, Product_Category_1=1, Product_Category_2=11, Product_Category_3=None)]

In [23]:
test.show()

NameError: name 'A' is not defined

In [25]:
%config IPCompleter.greedy=True

In [26]:
!dir

 Volume in drive C is SYSTEM
 Volume Serial Number is 6C1F-B728

 Directory of C:\data\training\spark\python

10/23/2018  10:36 AM    <DIR>          .
10/23/2018  10:36 AM    <DIR>          ..
10/23/2018  10:36 AM    <DIR>          .ipynb_checkpoints
10/23/2018  10:36 AM            14,192 Dataframe.ipynb
10/23/2018  10:19 AM               714 derby.log
10/23/2018  10:19 AM    <DIR>          metastore_db
10/22/2018  10:40 AM    <DIR>          New folder
11/20/2015  12:45 AM         9,598,228 test.csv
11/20/2015  12:47 AM        25,525,678 train.csv
10/22/2018  02:50 PM             1,592 Untitled.ipynb
10/22/2018  03:33 PM            14,201 Untitled1.ipynb
10/22/2018  05:06 PM             1,550 Untitled2.ipynb
10/23/2018  10:33 AM             6,771 Untitled3.ipynb
               8 File(s)     35,162,926 bytes
               5 Dir(s)  34,367,610,880 bytes free

In [28]:
test.show(2,truncate=True)

+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+
|User_ID|Product_ID|Gender|  Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+
|1000004| P00128942|     M|46-50|         7|            B|                         2|             1|                 1|                11|              null|
|1000009| P00113442|     M|26-35|        17|            C|                         0|             0|                 3|                 5|              null|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+
only showing top 2 rows

In [29]:
test.count(), train.count()

(233599, 550068)

In [30]:
len(test.columns)

11

In [31]:
test.columns

['User_ID',
 'Product_ID',
 'Gender',
 'Age',
 'Occupation',
 'City_Category',
 'Stay_In_Current_City_Years',
 'Marital_Status',
 'Product_Category_1',
 'Product_Category_2',
 'Product_Category_3']

In [33]:
train.describe().show()

+-------+------------------+----------+------+------+-----------------+-------------+--------------------------+-------------------+------------------+------------------+------------------+-----------------+
|summary|           User_ID|Product_ID|Gender|   Age|       Occupation|City_Category|Stay_In_Current_City_Years|     Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|         Purchase|
+-------+------------------+----------+------+------+-----------------+-------------+--------------------------+-------------------+------------------+------------------+------------------+-----------------+
|  count|            550068|    550068|550068|550068|           550068|       550068|                    550068|             550068|            550068|            376430|            166821|           550068|
|   mean|1003028.8424013031|      null|  null|  null|8.076706879876669|         null|         1.468494139793958|0.40965298835780306| 5.404270017525106| 9.842329251122386|12.668243206790512|9263.968712959126|
| stddev|1727.5915855313278|      null|  null|  null|6.522660487341822|         null|        0.9890866807573164|0.49177012631733186| 3.936211369201384| 5.086589648693496|4.1253376315752845|5023.065393820554|
|    min|           1000001| P00000142|     F|  0-17|                0|            A|                         0|                  0|                 1|                 2|                 3|               12|
|    max|           1006040|  P0099942|     M|   55+|               20|            C|                        4+|                  1|                20|                18|                18|            23961|
+-------+------------------+----------+------+------+-----------------+-------------+--------------------------+-------------------+------------------+------------------+------------------+-----------------+

In [34]:
train.describe()

DataFrame[summary: string, User_ID: string, Product_ID: string, Gender: string, Age: string, Occupation: string, City_Category: string, Stay_In_Current_City_Years: string, Marital_Status: string, Product_Category_1: string, Product_Category_2: string, Product_Category_3: string, Purchase: string]

In [37]:
train.select('User_ID','Product_ID','Age').show(5)

+-------+----------+----+
|User_ID|Product_ID| Age|
+-------+----------+----+
|1000001| P00069042|0-17|
|1000001| P00248942|0-17|
|1000001| P00087842|0-17|
|1000001| P00085442|0-17|
|1000002| P00285442| 55+|
+-------+----------+----+
only showing top 5 rows

In [42]:
train.select('Age').distinct().show(2)
train.select('Age').distinct().count(),test.select('Age').distinct().count()

+-----+
|  Age|
+-----+
|18-25|
|26-35|
+-----+
only showing top 2 rows

(7, 7)

In [43]:
train.crosstab('Age','Gender').show()

+----------+-----+------+
|Age_Gender|    F|     M|
+----------+-----+------+
|      0-17| 5083| 10019|
|     46-50|13199| 32502|
|     18-25|24628| 75032|
|     36-45|27170| 82843|
|       55+| 5083| 16421|
|     51-55| 9894| 28607|
|     26-35|50752|168835|
+----------+-----+------+

In [44]:
train.select('Age','Gender').show()

+-----+------+
|  Age|Gender|
+-----+------+
| 0-17|     F|
| 0-17|     F|
| 0-17|     F|
| 0-17|     F|
|  55+|     M|
|26-35|     M|
|46-50|     M|
|46-50|     M|
|46-50|     M|
|26-35|     M|
|26-35|     M|
|26-35|     M|
|26-35|     M|
|26-35|     M|
|51-55|     F|
|51-55|     F|
|51-55|     F|
|51-55|     F|
|36-45|     M|
|26-35|     M|
+-----+------+
only showing top 20 rows

In [45]:
train.select('Age','Gender').dropDuplicates().show()

+-----+------+
|  Age|Gender|
+-----+------+
|51-55|     F|
|18-25|     M|
| 0-17|     F|
|46-50|     M|
|18-25|     F|
|  55+|     M|
|  55+|     F|
|36-45|     M|
|26-35|     F|
| 0-17|     M|
|36-45|     F|
|51-55|     M|
|26-35|     M|
|46-50|     F|
+-----+------+

In [46]:
train.select('Age','Gender').distinct().show()

+-----+------+
|  Age|Gender|
+-----+------+
|51-55|     F|
|18-25|     M|
| 0-17|     F|
|46-50|     M|
|18-25|     F|
|  55+|     M|
|  55+|     F|
|36-45|     M|
|26-35|     F|
| 0-17|     M|
|36-45|     F|
|51-55|     M|
|26-35|     M|
|46-50|     F|
+-----+------+

In [49]:
#drop nul values
train.dropna().count()

166821

In [50]:
train.count()

550068

In [52]:
train.columns

['User_ID',
 'Product_ID',
 'Gender',
 'Age',
 'Occupation',
 'City_Category',
 'Stay_In_Current_City_Years',
 'Marital_Status',
 'Product_Category_1',
 'Product_Category_2',
 'Product_Category_3',
 'Purchase']

In [53]:
train.select('User_id', 'Age', 'City_Category').write('trainSubset')

TypeError: 'DataFrameWriter' object is not callable